@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: white;
    --input-color: #E6F2F7;
    --button-color: #EDA71D;
    --button-hover-color: #c98e19;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

body > div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    background-color: var(--background-color);
    width: 70vw;
}

section > div.conteudo {
    padding-bottom: 10px;
}

section > div.conteudo > h1 {
    padding: 0px 0px 15px 15px;
    text-align: left;
    font-size: 2.5rem;
}

section > div.conteudo > table {
    width: 100%;
    padding: 0px 0px 15px 15px;
}

th, td {
    text-align: left;
    padding-bottom: 5px;
}

section > div.conteudo > p {
    padding: 15px;
    text-align: justify;
}

section > div.conteudo > h2 {
    padding-left: 15px;
    font-size: 2rem;
}

section > div.formulario > form {
    padding: 15px;
}

section > div.formulario >form > label {
    display: block;
    padding-bottom: 10px;
    font-size: 1rem;
}

section > div.formulario > form > input.input-texto {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    background-color: var(--input-color);
    border: 0;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}

section > div.formulario > form > input.input-texto:focus {
    outline: 0px;
    border: 1px solid black;
}

section > div.formulario > form > button {
    padding: 10px 25px;
    font-size: 1rem;
    background-color: var(--button-color);
    border: 0;
    color: var(--background-color);
    border-radius: 25px;
    font-family: "Montserrat", sans-serif;
}

section > div.formulario > form > button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

section > div#resultado {
    padding-left: 15px;
}

@media screen and (min-width: 900px) {
    section {
        max-width: 630px;
    }
}